<div class="row" data-ng-controller="exportCtrl">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<button class="btn btn-default btn-block" type="button"
			ng-click="expHouses()">Export houses</button>
		<br>
		<br>
		<br>
		<br>
		<button class="btn btn-default btn-block" type="button"
			ng-click="expRes()">Export reservations</button>
		<br>
		<br>
		<br>
		<br>
		<button class="btn btn-default btn-block" type="button"
			ng-click="expReviews()">Export reviews</button>
	</div>
	<div class="col-sm-4"></div>
</div>