<div class="form-group">
    <label>Select Number of Bathrooms</label>
	<select class="form-control" data-ng-model="newhouse.bathrooms">
      	<option value="1">1</option>
      	<option value="2">2</option>
      	<option value="3">3</option>
      	<option value="4">4</option>
      	<option value="5">5</option>      					      					    					      					
	</select>  
</div>

<div class="form-group">
    <label>Select Number of Bedrooms</label>
	<select class="form-control" data-ng-model="newhouse.bedrooms">
      	<option value="1">1</option>
      	<option value="2">2</option>
      	<option value="3">3</option>
      	<option value="4">4</option>
      	<option value="5">5</option>      					      					
      	<option value="6">6</option>      					      					
      	<option value="7">7</option>      					      					
      	<option value="8">8</option>      					      					
      	<option value="9">9</option>      					      					
      	<option value="10">10</option>      					      					
      	<option value="11">11</option>      					      					
      	<option value="12">12</option>      					      					
	</select>  
</div>

<div class="form-group">
    <label>Select Number of Beds</label>
	<select class="form-control" data-ng-model="newhouse.beds">
      	<option value="1">1</option>
      	<option value="2">2</option>
      	<option value="3">3</option>
      	<option value="4">4</option>
      	<option value="5">5</option>      					      					
      	<option value="6">6</option>      					      					
      	<option value="7">7</option>      					      					     					      					
	</select>      
</div>

<div class="form-group">
	<label>Select Bed Type</label>
	<select class="form-control" data-ng-model="newhouse.bedType">
      <option value="Real Bed">Real Bed</option>
      <option value="Pull-out Sofa">Pull-out Sofa</option>
      <option value="Couch">Couch</option>
      <option value="Futon">Futon</option>      
	</select>
</div>

<div class="form-group">
    <label for="name">Square Feet</label>
    <input type="text" class="form-control" name="name" data-ng-model="newhouse.squareFeet">
</div>


<!-- Amenities -->

<div class="checkbox">
	<label><input type="checkbox" data-ng-model="newhouse.tv">TV</label>
	<label><input type="checkbox" data-ng-model="newhouse.wifi">Wireless Internet</label>
	<label><input type="checkbox" data-ng-model="newhouse.heating">Heating</label>
	<label><input type="checkbox" data-ng-model="newhouse.kitchen">Kitchen</label>
	<label><input type="checkbox" data-ng-model="newhouse.parking">Parking</label>
	<label><input type="checkbox" data-ng-model="newhouse.elevator">Elevator</label>
	<label><input type="checkbox" data-ng-model="newhouse.ac">Air Conditioning</label>						
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a data-ui-sref="new.price" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>