<div class="form-group">
    <label for="name">Daily Price</label>
    <input type="text" class="form-control" name="name" data-ng-model="newhouse.price">
</div>

<div class="form-group">
    <label for="name">Weekly Price</label>
    <input type="text" class="form-control" name="name" data-ng-model="newhouse.weeklyPrice">
</div>

<div class="form-group">
    <label for="name">Monthly Price</label>
    <input type="text" class="form-control" name="name" data-ng-model="newhouse.monthlyPrice">
</div>

<div class="form-group">
    <label for="name">Extra People Fee</label>
    <input type="text" class="form-control" name="name" data-ng-model="newhouse.extraPeople">
</div>

<div class="form-group">
    <label for="name">Cleaning Fee</label>
    <input type="text" class="form-control" name="name" data-ng-model="newhouse.cleaningFee">
</div>


<div class="text-center">
    <button type="submit" class="btn btn-danger">Submit</button>
</div>