<!DOCTYPE html>
<html data-ng-app="airbnb">
<head>
<meta charset="UTF-8">

<title>Welcome to Airbnb</title>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-resource/angular-resource.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>		
<script src="node_modules/angular-messages/angular-messages.min.js"></script>		
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
<script src="node_modules/angular-jk-rating-stars/dist/jk-rating-stars.min.js"></script>
<script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
<script src="node_modules/ui-bootstrap-tpls-0.11.0.js"></script>
<link rel="stylesheet" href="styles/daterangepicker.min.css" />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5tr_mV5r15R5S33MGBNWtKUmmCUQGrM0&libraries=places&language=en"></script>
<script src="scripts/app.js"></script>
  
  <!--  Styles  -->
  <link href="styles/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="/node_modules/angular-multi-step-form/dist/browser/angular-multi-step-form.min.js">
  
  <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet">
  <link href="node_modules/angular-jk-rating-stars/dist/jk-rating-stars.css" rel="stylesheet" type="text/css" />
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
  

  <script src="node_modules/moment.min.js"></script>
  <script src="node_modules/bootstrap-daterangepicker.min.js"></script>
  <script src="node_modules/angular-daterangepicker.min.js"></script>
  <script src="node_modules/sentimood.js"></script>
  
  
  <link rel="stylesheet" type="text/css" href="node_modules/angularjs-slider/dist/rzslider.css"/>
  <script src="node_modules/angularjs-slider/dist/rzslider.min.js"></script>
  
  
  
</head>
<body data-ng-controller="AuthCtrl"  >
	<!-- Navigation Bar -->
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
      	<div class="row">
      	<div class="navbar-header">
        	<a id="reg" class="navbar-brand" data-ui-sref="home">Airbnb</a>
      	</div>
      	<ul class="nav navbar-nav navbar-right">
        	<li id="navli" data-ng-hide="name!==undefined"><a data-ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        	<li id="navli" data-ng-hide="name!==undefined"><a data-ui-sref="signin"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        	<li id="navli" data-ng-hide="name==undefined || name=='admin'"><a data-ui-sref="profile({ userID: ID })"><span class="glyphicon glyphicon-user"></span> {{name}}</a></li>
        	<li id="navli" data-ng-hide="name==undefined || name =='admin' || host == false"><a data-ui-sref="new"> New House</a></li>
        	<li id="navli" data-ng-hide="name==undefined || name =='admin' || host == false"><a data-ui-sref="manageHouses"> Manage Houses</a></li>
        	<li id="navli" data-ng-hide="name==undefined || name =='admin' "><a data-ui-sref="inbox"> <span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
        	<li id="navli" data-ng-click="goToExport()"><a data-ng-hide="name==undefined || name!=='admin' " data-ui-sref="export"><span class="glyphicon glyphicon-export"></span>Export Data</a></li>
        	<li id="navli" data-ng-click="logout()" ><a data-ng-hide="name==undefined" href="#"> <span class="glyphicon glyphicon-log-out"></span>Sign Out</a></li>
        </ul>
        </div>
        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        	<form name="SearchForm" data-ng-submit="Search()">
        	<label id="whiteText">Travelling to: </label>
        		
        		<div class="form-group">
            		<input name="place" type="text" class="form-control" places-auto-complete ng-model="vm.address" on-place-changed="vm.placeChanged()" required autofocus />
        		</div>


    		<div class="row">
    			<div class="col-sm-2">
				<div class="form-group">
					<label id="whiteText">Adults:</label>
					<select class="form-control" data-ng-model="adults">
      					<option value="1">1</option>
      					<option value="2">2</option>
      					<option value="3">3</option>
      					<option value="4">4</option>
      					<option value="5">5</option>      					      					
      					<option value="6">6</option>      					      					
      					<option value="7">7</option>      					      					
      					<option value="8">8</option>      					      					
      					<option value="9">9</option>      					      					
      					<option value="10">10</option>      					      					
      					<option value="11">11</option>      					      					
      					<option value="12">12</option>      					      					
					</select>
				</div>
    			</div>
    	
    		<div class="col-sm-4">
				<div class="form-group">
                    <label id="whiteText" for="daterange1" class="control-label">Choose Date</label>
                    <input date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text" ng-model="date" required/>
                </div>
    		</div>
    		    	
    		<div class="col-sm-4">

    		</div>
    		    	
    		<div class="col-sm-2">
    			<div class="form-group">
					<input class="btn btn-default" type="submit" value="Search"/>
				</div>	
    		</div>
    	  </div>
    	  </form>
    	</div>
    	
        <div class="col-sm-2"></div>
        
    	</div>  
    </nav>
    
    
    <div class="container">
        <div data-ui-view="welcomePanel"></div>
    
    
    <!-- End of Navigation Bar -->
    

	<div data-ng-hide="name==undefined || name=='admin'">
				
		<div data-ui-view="recommend"></div>
					
	</div>
					
    
    </div>
    

    
    
	<div data-ui-view data-ng-value="isConnected()">

	</div>

	
</div>  
	
</body>
</html>